#[submodule "ten10_theme"]
#	path = content/themes/ten10_theme
#    url = git@github.com:tripl3inf/ten10_theme.git


#[submodule "wordpress"]
#	path = wordpress
#	url = https://github.com/WordPress/WordPress.git
#	branch = 3.9-branch
